.container {
  width: 600px;
  margin: 10px auto;
}

fieldset {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin: 10px;
  display: flex;
  align-items: center;
}

li label {
  width: 120px;
  font-weight: bold;
  line-height: 35px;
}

input[type="text"], 
input[type="number"],
input[type="email"],
input[type="date"],
select {
  width: 400px;
  height: 18px;
}

.cancelButton {
   width: 200px;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}

.orderButton {
  color: white;
  background-color: blue;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}
